# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.pyc
progress_bar_tst/__pycache__/__init__.cpython-34.pyc
